/* Estilização global */
:host {
  display: block;
  height: 100vh; /* Garante que ocupe a tela inteira */
  background-color: #000; /* Plano de fundo preto */
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #dd0031; /* Cor vermelha do Angular */
  font-size: 4em; /* Tamanho grande */
  margin: 0.5em 0;
}

p {
  color: #fff; /* Texto branco */
  font-size: 1.2em;
  margin: 10px 0;
}
